#footer{
    width: 100vw;
    max-width: 65rem;
    min-width: 200px;
    
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.social{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

}
.social i{
    font-size: 24px;
    background: #e1e334;
    padding: 10px;
    border-radius: 50%;
}
.social i:hover{
    background: #3b9a34;
    color: #000;
    transform: scale(1.2);
}
#footer{
    font-size: 24px;
    color: #fff;
    margin-top: 2rem;
}
 
